@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WELCOME</h1>
    <p>Workers Payroll</p>
    <p>Here you can create new workers pay entries and make changes to the existing workers entries.</p>
    <p> You must log in to create new workers entries!</p>
</div>
