<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>

	</configSections>
	<connectionStrings>
		<add name="myConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Amritpal\Documents\Durham college\Semester 3\NETD3202\NETD_3202_Assessments\Assignment_03\Data\WorkersDetailsDb.mdf" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
