<!--
 * Author: Sanya Singhal
 * Date: 15 December, 2022
 * Course: NETD 3202
 * Description: Summary Page to display total number of workers, total pay and the average pay.
 * 
-->

@model IEnumerable<Assignment_06.Models.PieceworkWorkerModel>

@{
    ViewData["Title"] = "Summary";
    int totalWorkers = 0;
    double totalPay = 0.0;
    int totalMessages = 0;
    double averagePay = 0.0;
}

  

<h1>Summary</h1>
<hr/>
@if (User.Identity.IsAuthenticated)
{

    @foreach (var item in Model)
    {
        totalWorkers++;
        totalPay += item.GetPay();
        totalMessages += item.Message;
        averagePay = totalPay / totalWorkers;
    }



    <table class="table">
        <thead>
            <tr>
                <th>
                    Total Workers
                </th>
                <th>
                    Total Messages
                </th>
                <th>
                    Total Pay
                </th>
                <th>
                    Average Pay
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @totalWorkers
                </td>
                <td>
                    @totalMessages
                </td>
                <td>
                    @totalPay.ToString("c")
                </td> 
                <td>
                    @averagePay.ToString("c")
                </td>
            </tr>
        </tbody>
    </table>
}
else
{
    <p>Please login to see Workers Summary.</p>
}
